@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.shoe-collection-container{
    position: relative;
    margin-top: 100px;
    background-color: #ffffff;
    height: 340px;
    width: 275px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    margin-bottom: 40px;
}
.shoes-collection-product{
    width: 87%;
    margin: 0px auto;
    padding-top: 60px;
    
}
.shoe-collection-title :nth-child(1) {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    
}
.shoe-collection-title :nth-child(2){
   margin-top: 10px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
}
.shoe-collection-title :nth-child(2) span{
    display: block;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}
/* .shoes-collection-product :nth-child(4) {
   margin-top: 20px;
} */
.shoe-collection-size-available{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.shoe-collection-size-available h4{
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
}
.shoe-collection-size-available h4 span{
    display: block;
}
.shoe-collection-size-available :nth-child(2){
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    height: 25px;
    width: 25px;
    border: 1px solid #d1d1d1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.shoe-collection-size-available :nth-child(3){
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    height: 25px;
    width: 25px;
    border: 1px solid #d1d1d1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.shoe-collection-size-available :nth-child(4){
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    height: 25px;
    width: 25px;
    border: 1px solid #d1d1d1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.shoe-collection-rating{
    margin-top: 20px;
}
.shoe-collection-rating :nth-child(1){
    font-size: 18px;
    color: black;
}

.shoe-collection-price h4:nth-child(1){
    margin-top: 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
}
.shoe-collection-price :nth-child(1) span {
    font-size: 10px;
    line-height: 10px;
    font-weight: 500;
}
.shoe-collection-price :nth-child(2){
    position: absolute;
    top: 310px;
    z-index: 1000;
}
.shoe-collection-price :nth-child(3){
    position: absolute;
    top: -30%;
}

/*slider3 css start*/
.product-slider3-container{
    width: 85%;
    margin: 0px auto;
}
.product-slider3-wrapper img{
    height: 158px;
    width: 234px;
}
.product-slider3-wrapper h2{
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}
.product-slider3-wrapper p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.product-slider3-wrapper p span{
    display: block;
}
.slider3-ratings :nth-child(1){
    font-size: 20px;
    color: black;
    
}
.product-slider3-wrapper > div {
    margin-top: 15px;
    display: flex;
    gap:10px;
}
.product-slider3-wrapper > div h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}
.product-slider3-wrapper > div h3 span{
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
}
.product-slider3-wrapper > div h5{
    margin-top: 3px;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    color: red;
}