@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.product-offer-section{
    background-color: black;
    height: 280px;
    position: relative;
}
.product-offer-container{
    width: 95%;
    margin: 0px auto;
    color: white;
    /* justify-content: center; */
  
}
.product-offer-container h2{
    font-size: 14px;
    line-height: 12px;
    font-weight: 500;
    padding-top: 80px;
    margin-left: 175px;
    
}
.product-offer-section .product-offer-container > div{
    display: flex;
    gap: 120px;
    align-items: center;
    margin-left: 175px;
}
.product-offer-container > div input{
    height: 55px;
    width: 485px;
    border-radius: 30px;
    color: white;
    background-color: black;
    border: 1px solid white;
    
}
.product-offer-container > div input::placeholder{
    color: white;
    padding-left: 20px;
}
.product-offer-container h1{
    font-size: 41px;
    font-weight: 700;
    line-height: 49px;
    margin-top: 10px; 
}
.product-offer-container h1 span{
    display: block;
    font-size: 41px;
    font-weight: 400;
    line-height: 49px;
}
.product-offer-container :nth-child(3){
    top: 44%;
    left:1023px;
    position: absolute;
    height: 45px;
    width: 45px;
    font-size: 25px;
    background-color: white;
    border-radius: 50%;
    color: black;
} 
.black-shoes :nth-child(1){
    position: absolute;
    left: 0px;
    height: 230px;
}
.black-shoes :nth-child(2){
    position: absolute;
    top: -60px;
    right: 0px;
    height: 220px;
}
.footer-section{
    margin-top: 80px;
    margin-bottom: 80px;
}
.footer-container{
    width: 93%;
    margin: 0px auto;
    display: flex;
    gap: 95px;
}
.footer-section .footer-container > div h2{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.footer-section .footer-container > div p{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.footer-section .footer-container > div p span{
    display: block;
}
.footer-container ul h3{
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}
.footer-container ul li{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
}
.footer-container ul li a{
    color: black;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
}
.footer-social-icons{
    gap:20px;
    display: flex;
    margin-top: 25px;
}
.social-iconn-twitter {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 50px;
}
.social-iconn-messenger {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 50px;
}
.social-iconn-instagram {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 50px;
}
.social-iconn-youtube {
    height: 30px;
    width: 30px;
    display: flex;
    background-color: black;
    color: white;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}